<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/fa142e857b.js"></script>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans|ZCOOL+KuaiLe&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery.js"></script>

        <title>Eat-Da-Burger!</title>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Eat-Da-Burger
                </h1>
            </div>
        </div>

        {{{ body }}}

        <br><br>

    </body>
</html>